  <div class="content">
    <h1 class="title is-3">Buffets Registrados</h1>
    <div class="columns is-multiline">
      <% @buffets.each do |buffet| %>
        <div class="column is-one-third">
          <%= link_to buffet_path(buffet), class: 'box' do %>
            <dt class="title is-4"><%= buffet.brand_name %></dt>
            <dd class="subtitle is-6"><%= buffet.city %> | <%= buffet.state_code %></dd>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
