<div class="content">
  <% if @event_price.price_type == 'standard' %>
    <h2 class="subtitle is-4">Atualizar preço padrão</h2>
  <% elsif @event_price.price_type == 'special' %>
    <h2 class="subtitle is-4">Atualizar preço especial</h2>
  <% end %>

  <%= render 'form' %>
</div>