
<% if @events.empty? %>
  <p>Sem eventos cadastrados ainda</p>
  <%= link_to 'Criar novo evento', new_event_path %>

<% else %>
  <% @events.each do |event| %>
    <div class='content'>
      <%= link_to event.name, event_path(event), class:'title is-4' %>
      <p class="subtitle is-6"><%= event.event_category.humanized_category_name %></p>
    </div>
  <% end %>
<% end %>