<div class="content" >
  <h1> Pedidos </h1>
  <div class="box" >
    <% if @open_orders.any? %>
      <p> Pedidos em aberto</p>
      
      <% @open_orders.each do |order| %>
        <%= render order  %>
      <% end %>

    <% else %>
      <p>Nenhum pedido em aberto <br></p>
    <% end %>
  </div>
    
  <% if @closed_orders.any? %>
    <div class="box" >
      <p> Pedidos fechados</p>
      <% @closed_orders.each do |order| %>
        <%= render order  %>
      <% end %>
    </div>
  <% end %>
  
</div>