<h1> Seus pedidos </h1>
<% if @orders.any? %>
  <% @orders.each do |order| %>
    <div>
      <p>
        <%= "Pedido #{order.code}" %> <br>
        <%= "Status: #{order.humanized_status_name}" %>
        <%= "Data: #{I18n.localize(order.date)}" %>
      </p>
    </div>
  <% end %>
<% else %>
<p>
  Nenhum pedido realizado
</p>
<% end %>